<div class="calendar-wrapper">
    <div class="calendar-container">
        <div class="sidebar">
            <div class="years">
                <i class="fa-solid fa-chevron-left year-btn prev-year" style="color: #3f51b5;"></i>
                <span class="year" id="year">2020</span>
                <i class="fa-solid fa-chevron-right year-btn next-year" style="color: #3f51b5;"></i>
            </div>
            <ul class="months">
                <li data-month="0">January</li>
                <li data-month="1">February</li>
                <li data-month="2">March</li>
                <li data-month="3">April</li>
                <li data-month="4">May</li>
                <li data-month="5">June</li>
                <li data-month="6">July</li>
                <li data-month="7">August</li>
                <li data-month="8">September</li>
                <li data-month="9">October</li>
                <li data-month="10">November</li>
                <li data-month="11">December</li>
            </ul>
        </div>
        <div class="calendar">
            <div class="month">
                <h3 id="month-name">July</h3>
                <div class="days">
                    <span>Sun</span><span>Mon</span><span>Tue</span><span>Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
                </div>
                <div class="dates" id="dates"></div>
            </div>
        </div>
    </div>
    <div class="event">
        <h3>Our Events</h3>
        <div class="event-list" id="event-list"></div>
        <p class="no-events" style="display:none;">No events for this date.</p>
    </div>
</div>