@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

/* =========== Contact Section ========== */
.contact-section {
    padding: 5px;
    background-color: #ec9c13;
    text-align: center;
}

.contact-text {
    font-size: 30px;
    margin: 22px;
}

.social-icons {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    font-size: 24px;
    width: 2em;
    height: 2em;
    color: var(--text-color);
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid var(--secondary-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    border-radius: 5px;
    transition: background-color 0.6s ease, border-color 0.6s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.social-icon:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(47, 128, 235);
    border: 1px solid rgba(108, 147, 255, 0.836);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* =========== Contacts ========== */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 60px;
    gap: 20px;
    text-align: left;
    background-color: var(--footer-bg);
}

.footer-container>div {
    flex: 1 1 370px;
    max-width: 370px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-container h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--secondary-color);
    min-height: 32px;
}

.icons div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: var(--text-color);
}

.icons div .material-icons {
    flex: 0 0 24px;
    font-size: 24px;
    color: var(--text-color);
}

.icons a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-nav-bar {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.footer-nav-item {
    margin: 10px 0;
}

/* =========== Quick Links ========== */
.quick-link-button {
    width: 200px;
    display: inline-block;
    padding: 10px 30px;
    background-color: #546b85;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.quick-link-button:hover {
    background-color: var(--primary-color);
    border: 1px solid white;
}

/* =========== Gallery ========== */
.gallery-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 8px 40px 0px 5px;
    height: 200px;
    max-width: 100%;
}

.gallery-button {
    position: relative;
    width: 100%;
    height: calc((260px - 32px) / 2);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.gallery-button:hover {
    transform: translateY(-10px) scale(1.1);
    z-index: 5;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-button:hover .gallery-image {
    transform: scale(1.1);
}

/* =========== Map ========== */
.map iframe {
    width: 100%;
    border-radius: 8px;
    height: 260px;
}

/* =========== Footer Bottom ========== */
.footer-bottom {
    width: 100%;
    text-align: center;
    /* padding-top: 20px; */
    font-size: 14px;
    margin-top: 20px;
    color: var(--text-color);
}

.footer-bottom p {
    color: #ccc;
    font-size: 15px;
    border-top: 1px solid white;
    text-align: center;
    margin: 60px 120px 0px 120px;
    padding-top: 10px;
    padding-bottom: 100px;
}

/* =========== Media Queries ========== */
@media screen and (max-width: 1900px) {
    .footer-container {
        padding: 32px 200px;
        gap: 15px;
    }

    .footer-container>div {
        flex: 1;
        min-width: 0;
    }

    .footer-container h4 {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .icons div {
        margin-bottom: 6px;
        font-size: 14px;
        gap: 8px;
    }

    .icons div .material-icons {
        font-size: 18px;
        flex: 0 0 18px;
    }

    .quick-link-button {
        padding: 8px 10px;

    }

    .gallery-box {
        height: 100px;
        padding: 0px 40px 0px 5px;
    }

    .gallery-button {
        height: calc((180px - 32px) / 2);
    }

    .map iframe {
        height: 180px;
        min-width: 0;
    }

    .footer-nav-item {
        margin: 6px 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px) {
    .footer-container {
        justify-content: center;
        gap: 10px;
        padding: 10px 150px;
    }

    .footer-container>div {
        flex: 1;
        min-width: 0;
        max-width: none;
    }

    .contact-section p {
        font-size: 24px;
    }

    .footer-container h4 {
        font-size: 15px;
        padding-bottom: 0px;
    }

    .icons div {
        margin-bottom: 4px;
        font-size: 14px;
        gap: 6px;
    }

    .icons div .material-icons {
        font-size: 14px;
        flex: 0 0 14px;
    }

    .quick-link-button {
        width: 160px;
        padding: 7px 8px;
    }

    .gallery-box {
        height: 120px;
        padding: 0px 10px 0px 5px;
    }

    .gallery-button {
        height: calc((140px - 32px) / 2);
    }

    .map iframe {
        height: 140px;
        min-width: 0;
    }

    .footer-nav-item {
        margin: 4px 0;
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .footer-container {
        justify-content: center;
        gap: 10px;
        padding: 10px 100px;
    }

    .gallery-box {
        padding: 0px;
    }

}


@media screen and (max-width: 900px) {
    .footer-container {
        justify-content: center;
        gap: 10px;
        padding: 10px 80px;
    }

    .gallery-box {
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
        padding: 20px;
    }

    .footer-container>div {
        /* width: 100%; */
        max-width: 400px;
        /* align-items: center; */
    }

    .footer-container h4 {
        font-size: 1.1em;
        text-align: center;
        /* padding-bottom: 8px; */
    }

    .contact-section p {
        font-size: 18px;
        margin: 10px;
    }

    .icons div {
        justify-content: center;
        margin-bottom: 12px;
    }

    .icons div .material-icons {
        font-size: 24px;
    }

    .quick-link-button {
        width: 300px;
        font-size: 15px;
        padding: 8px 20px;
        text-align: center;
    }

    .gallery-box {
        height: 200px;
    }

    .gallery-button {
        height: calc((220px - 32px) / 2);
    }

    .map iframe {
        height: 220px;
    }

    .footer-bottom {
        padding-top: 2px;
        margin-top: 2px;
    }

    .footer-bottom p {
        font-size: 12px;
        margin: 0px 30px 0px 30px;
    }
}