<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <main>
        <section class="committee-section">

            <div class="committee-header">
                <h2>Program Standing Committee</h2>
                <p class="committee-description">
                    The Program Standing Committee (PSC) comprises five (5) members who guide and supervise the policies
                    and activities of the EDC to implement the GDLFM program efficiently. The Chairperson of the PSC is
                    also
                    the Advisor of the EDC.
                </p>
            </div>

            <div class="members-grid">

                <div class="member">
                    <img src="../Resources/images/EDC_Members/prof_shams.jpg" alt="Professor Dr Shams Rahman" />
                    <h3>Professor Dr Shams Rahman</h3>
                    <p>Vice Chancellor, EWU, Advisor, Executive Development Center (EDC) & Chairperson PSC, East West
                        University</p>
                </div>

                <div class="member">
                    <img src="../Resources/images/EDC_Members/prof_tanbir.jpg"
                        alt="Professor Dr. Tanbir Ahmed Chowdhury" />
                    <h3>Professor Dr. Tanbir Ahmed Chowdhury</h3>
                    <p>Professor, Dept. of Business Administration, Program Director, Executive Development Center &
                        Member, PSC, East West University</p>
                </div>

                <div class="member">
                    <img src="../Resources/images/EDC_Members/prof_anup.jpg" alt="Professor Dr. Anup Chowdhury" />
                    <h3>Professor Dr. Anup Chowdhury</h3>
                    <p>Professor, Dept. of Business Administration, Deputy Director, Executive Development Center &
                        Member, PSC, East West University</p>
                </div>

                <div class="member">
                    <img src="../Resources/images/EDC_Members/Person.jpg" alt="AEPD (Program Management)" />
                    <h3>AEPD (Program Management-2 / Representative)</h3>
                    <p>Skills for Industry Competitiveness and Innovation Program (SICIP)</p>
                </div>

                <div class="member">
                    <img src="../Resources/images/EDC_Members/Major_Rafiqul.jpg"
                        alt="Mr. Major Md Rafiqul Islam (Retd)" />
                    <h3>Mr. Major Md Rafiqul Islam (Retd)</h3>
                    <p>Secretary General, Leathergoods & Footwear Manufacturers and Exporter Association of Bangladesh
                        (LFMEAB) & Member, PSC, EDC, East West University</p>
                </div>

            </div>

        </section>

    </main>

</body>

</html>