.vm-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 120px 20px 30px;
}


.vm-section {
    margin-top: 40px;
}

.vm-section h3 {
    font-size: 1.375rem;
    color: #354268;
    margin-bottom: 12px;
}

.vm-section p,
.vm-section ul {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.3;
    text-align: justify;
}

.vm-section ul {
    padding-left: 20px;
}

.vm-section ul li {
    margin-bottom: 12px;
}

/* ===================== Responsive Breakpoints ===================== */

/* 1200px and below */
@media screen and (max-width: 1200px) {

    .vm-container {
        padding: 120px 100px 30px;
    }
}

/* 992px and below */
@media screen and (max-width: 992px) {
    .vm-container {
        padding: 100px 80px 30px;
    }

    .vm-section h3 {
        font-size: 1.2rem;
    }

    .vm-section p,
    .vm-section ul {
        font-size: 1rem;
    }
}

/* 768px and below */
@media screen and (max-width: 768px) {

    .vm-container {
        padding: 100px 40px 30px;
    }
}


/* 375px and below */
@media screen and (max-width: 480px) {

    .vm-container {
        padding: 80px 20px 30px;
    }
}