<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <div class=" vm-container">
        <div class="title-class">
            <h2><span id="vision-mission-title">Vision & Mission</span></h2>
        </div>


        <div class="vm-section">
            <h3>EDC’s Vision</h3>
            <p>To serve as a training hub to produce globally competitive skilled executives and entrepreneurs for
                Bangladesh's sustained economic and human development.</p>
        </div>

        <div class="vm-section">
            <h3>EDC’s Mission</h3>
            <ul>
                <li>To train executives and potential entrepreneurs of priority industrial sectors to increase
                    innovation and productivity;</li>
                <li>To adopt timely industry-oriented curriculum to scale up skill and reduce skill gap;</li>
                <li>To enhance faculty and infrastructure capacity to be able to conduct high-level training;</li>
                <li>To establish a network with similar centers in other countries to ensure the global competitiveness
                    of the training program;</li>
                <li>To assess the outcomes of the training program for feedback and continual quality improvement.</li>
            </ul>
        </div>

        <div class="vm-section">
            <h3>Key Objectives</h3>
            <ul>
                <li>To implement the Executive Development Training Program developed by EWU in due consultation with
                    the industrialists and SICIP officials in accordance with the procedures laid down in the Business
                    Plan;</li>
                <li>To develop world-class mid and high-level industry-fit managers required by the sector;</li>
                <li>To reduce dependence on foreign managers and develop a pool of high-quality managers to meet future
                    industry needs;</li>
                <li>To make a cultural change in university teaching that is now totally delinked from the industry.
                </li>
                <li>To periodically assess industries’ requirements and design/revise customized course curriculum for
                    the trainees to accommodate changing industry requirements.</li>
            </ul>
        </div>
    </div>

</body>

</html>