<header>
  <div class="top-header">
    <div class="logo-container">
      <a href="https://sicip.gov.bd/#" target="_blank">
        <img src="Resources/images/Logo/SICIPLogo.png" alt="SICIP Logo" id="siciplogo" class="logo" />
      </a>
      <a href="#">
        <img src="Resources/images/Logo/GovtLogo.png" alt="Govt Logo" id="govtlogo" class="logo" />
      </a>
      <a href="https://www.ewubd.edu/" target="_blank">
        <img src="Resources/images/Logo/EWULogo.png" alt="EWU Logo" id="ewulogo" class="logo" />
      </a>
    </div>
    <span></span>
    <nav>
      <ul class="nav-bar">
        <li class="nav-item"><button data-page="home">Home</button></li>

        <li class="nav-item-dropdown">
          <button>About Us <span class="material-symbols-outlined"> keyboard_arrow_down </span></button>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><button data-page="who-we-are">Who We Are</button></li>
            <li class="dropdown-item"><button data-page="vision-mission">Vision &amp; Mission</button></li>
            <li class="dropdown-item"><button data-page="standing-committee">Project Standing Committee</button></li>
            <li class="dropdown-item"><button data-page="edc-sicip-officials">EDC-SICIP Officials</button></li>
          </ul>
        </li>

        <li class="nav-item"><button data-page="courses">Courses</button></li>
        <li class="nav-item"><button data-page="partners">Partners</button></li>

        <li class="nav-item-dropdown">
          <button>News &amp; Notice <span class="material-symbols-outlined"> keyboard_arrow_down </span></button>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><button data-page="latest-news">Latest News</button></li>
            <li class="dropdown-item"><button data-page="notice-board">Notice Board</button></li>
          </ul>
        </li>

        <li class="nav-item"><button data-page="gallery">Gallery</button></li>
        <li class="nav-item"><button data-page="contact">Contact Us</button></li>
      </ul>
    </nav>

    <div class="hamburger-menu">
      <span class="material-symbols-outlined">menu</span>
    </div>
  </div>
    
  <div class="notice-bar">
    <div class="notice-content">
      Important Notice: Graduate Diploma in Leather, Leather Goods &
      Footwear Management for batch-3,4 (Deadline: 01 December 2024)
    </div>
  </div>
</header>
